---
import MainLayout from "../layouts/MainLayout.astro";

export const prerender = true;
---

  <MainLayout>
    <section class="mx-auto ">
      <h1>404 - Page Not Found</h1>
      <p>
        Oops! The page you are looking for doesn't exist.
      </p>
      <p class="font-bold text-4xl">
        <a class="text-red-300" href="/">Go back to the homepage</a>
      </p>
    </section>
  </MainLayout>

