---

---

<!-- <footer class="text-center mt-auto py-4">
    <small
      >Copyright &copy; <span id="copyright"></span> | All rights reserved</small
    >
  </footer>
  
  <script>
    document.querySelector("#copyright").textContent = new Date()
      .getFullYear()
      .toString();
  </script> -->

  <footer class="mx-auto max-w-3xl px-4 sm:px-6 md:max-w-5xl ">
    <hr class="w-full h-0.5 mx-auto mt-8 bg-neutral-200 border-0"></hr>
    <div class="mx-auto  p-4 flex flex-col text-center text-neutral-900 md:flex-row md:justify-between gap-5">
      <div class="flex flex-row items-center justify-center space-x-1 text-neutral-500 dark:text-neutral-100">
      © {new Date().getFullYear()} Himanshu Mukhedkar<a href="/" class="hover:underline"></a>
      </div>
      <div class="flex flex-row items-center justify-center space-x-2 mb-1">
        <a href="https://github.com/Himanshu-311999" target="_blank" class="text-white hover:text-gray-400">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://twitter.com/__hims__" target="_blank" class="text-white hover:text-gray-400">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/himanshu-mukhedkar-b639791ab" target="_blank" class="text-white hover:text-gray-400">
        <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </footer>