---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";

// interface NavItem {
//   id: number;
//   menuName: string;
//   hrefVal: string;
// }

// interface Props {
//   navItems: NavItem[];
// }

// const { navItems } = Astro.props;

---

<header class="lg:flex p-5 gap-5">
    <Astronav>
        <div class="flex w-full justify-between">
            <a href="/">Himanshu Mukhedkar</a>
            <div class="block md:hidden">
                <MenuIcon class="w-4 h-4 text-white"/>
            </div>
        </div>
        <MenuItems class="hidden lg:flex">
            <ul class="flex flex-col lg:flex-row lg:gap-5">
                <!-- {navItems?.map((item) => (
                    <li>
                      <a href={item.hrefVal}>{item.menuName}</a>
                    </li>
                  ))} -->
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Project</a></li>
              <li><a href="/about">About</a></li>
            </ul>
        </MenuItems>  
    </Astronav>
</header>